<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="navbar">
			{{!-- image not showing --}}
			<img id="grillin" src="../img/burger-on-grill.gif" alt="Grilling Burgers">
			<h1>Heart Cloggers</h1>
		</div>
		<div id="burgers" class="col-md-6 text-center" class="task">
			<div class="row">
				{{!-- not devoured --}}
				<h2>Burgers not yet tried:</h2>
				<div>
					{{#each burgers}}
					{{#unless devoured}}
					{{> devoured}}
					{{/unless}}
					{{/each}}
				</div>
			</div>
		</div>
		{{!-- devoured --}}
		<div id="burgers" class="col-md-6 text-center" class="task">
			<div class="row">
				{{!-- not devoured --}}
				<h2>Burgers I've eaten:</h2>
				<div>
					{{#each burgers}}
					{{#if devoured}}
					{{> devoured}}
					{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
		{{!-- add a burger --}}
		<form class="create-form">
			<h2>Add a burger:</h2>
			<div class="form-group">
				<input type="text" id="burg" name="name" placeholder="Enter burger name...">
			</div>
			<div class="form-group">
				<input type="radio" name="devour" value="1" checked> Devoured
				<br>
				<input type="radio" name="devour" value="0"> Haven't eaten...yet
			</div>
			<button type="submit" class="submit btn btn-sm btn-info">Add burger</button>
		</form>
	</div>
</div>