body {
    /* not working */
    background-image: url("../img/burger-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f1b06a;
    /* add parallax scrolling */
}

.row {
    justify-content: center;
}

#navbar {
    margin-top: 28px;
}

#grillin {
    border: ridge;
    border-width: 2px;
    border-color: #6a78f1;
    border-radius: 6px;
}

.individual-burgers {
    padding-top: 7px;
}

.create-form {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 7px;
    /* border */
    border: ridge;
    border-width: 2px;
    border-color: #6a78f1;
    border-radius: 6px;
    background-color: #f1b06a;
}

#burgers {
    border: ridge;
    border-width: 2px;
    border-color: #6a78f1;
    border-radius: 6px;
    background-color: #f1b06a;
}

.form-group {
    margin-bottom: 0;
}