body {
    /* not working */
    background-image: url("/public/img/burger-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f1b06a;
}

#navbar {
    margin-top: 28px;
}

.individual-burgers {
    /* not working */
    padding-top: 7px;
}

.create-form {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    /* not working */
    padding-top: 7px;
}

#burgers {
    border: outset;
    border-radius: 3px;
}